# Ignore local .terraform directories
**/.terraform/*

# Ignores folder with the name .terraform
.terraform/

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log
crash.*.log

# Ignore .tfvars that contains sensitive data such as passwords, private keys and other secrets.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so are not checked in.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files.
.terraformrc
terraform.rc

# Ignore .terraform.lock.hcl files.
*.terraform.lock.hcl

# Ignores any .pem and .key files.
*.pem
*.key

# Ignores .terragrunt-cache files.
*.terragrunt-cache

# Ignores .terragrunt_lock.hcl files.
*.terragrunt_lock.hcl

# Ignores .backend.tf file.
backend.tf
